{% extends "nbil/base_generic.html" %}
{% block content %}

<div class='add_button'>
<a class="btn btn-primary btn-sm" href="{% url 'nbil:urcreate' %}" role="button">+ Dodaj UR</a>
</div>

<form method="get">
    {{ filtrrr.form.as_table }}
    <button type="submit">Search</button>
</form>

<h1>Lista POB</h1>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>name</th>
			<th>code</th>
			<th>Edytuj</th>
			<th>Przejdź</th>
		</tr>
		{% for pob in filtrrr.qs %}
		<tr>
			
			<td>{{pob.id}}</td>
			<td>{{pob.name}}</td>
			<td>{{pob.code}}</td>
			<td><a class="btn btn-primary btn-sm" href="{% url 'nbil:uredit' pob.id %}" role="button">Edit</a></td>
			<td><a class="btn btn-primary btn-sm" href="{% url 'nbil:urinfo' pob.id %}" role="button">Info</a></td>
		{% endfor %}	
		</tr>
		
	</table>

{% endblock %}

