{% extends "nbil/base_generic.html" %}
{% block content %}
<h1>Lista POB</h1>
	<table class="table">
		<tr>
			<th>ID</th>
			<th>name</th>
			<th>code</th>
			<th>Edytuj</th>
			<th>Przejdź</th>
		</tr>
		{% for pob in urlist %}
		<tr>
			
			<td>{{pob.id}}</td>
			<td>{{pob.name}}</td>
			<td>{{pob.code}}</td>
			<td><a class="btn btn-primary btn-sm" href="{% url 'nbil:uredit' pob.id %}" role="button">Edit</a></td>
			<td><a class="btn btn-primary btn-sm" href="{% url 'nbil:urinfo' pob.id %}" role="button">Info</a></td>
		{% endfor %}	
		</tr>
		
	</table>


<p>dodaj nowy pob</p>

<form action="{% url 'nbil:ur_list' %}" method="POST">
{% csrf_token %}
{{form.as_table}}
<input type="submit" value="Submit">

</form>
{% endblock %}

